<app-caminho-menu></app-caminho-menu>
<br>

<!-- DESKTOP -->

<div class='table-responsive desktop'>
  <div class="row">
    <div class="col-sm-5" style='margin-left: 7em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" id='desabilitado1'
          class='btn' disabled>
          <img src='/assets/images/pratododia.jpg' class="figure-img img-fluid
            rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Prato do
          dia</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" id='desabilitado2'
          class='btn' disabled>
          <img src='/assets/images/baiao-dois-1.jpg' class="figure-img
            img-fluid rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;'class="figure-caption">Pratos
          Regionais</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style='margin-left: 7em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" id='desabilitado3'
          class='btn' disabled>
          <img src='/assets/images/pratoespecial.jpg' class="figure-img
            img-fluid rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Pratos
          especiais</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" id='desabilitado4'
          class='btn' disabled>
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid
            rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Porções</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style='margin-left: 7em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']"
          id='desabilitado5' class='btn' disabled>
          <img src='/assets/images/porcoesespeciais.jpg' class="figure-img
            img-fluid rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Porções
          especiais</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" id='desabilitado6'
          class='btn' disabled>
          <img src='/assets/images/salada.png' class="figure-img img-fluid
            rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Saladas</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style='margin-left: 7em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']"
          id='desabilitado7' class='btn' disabled>
          <img src='/assets/images/saladaespecial.jpg' class="figure-img
            img-fluid rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Saladas
          especiais</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" id='desabilitado8'
          class='btn' disabled>
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid
            rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Bebidas</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- LAPTOP -->

<div class='table-responsive laptop'>
  <div class="row">
    <div class="col-sm-5" style='margin-left: 5em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" id='desabilitado33'
          class='btn' disabled>
          <img src='/assets/images/pratododia.jpg' class="figure-img img-fluid
            rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Prato do
          dia</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" id='desabilitado34'
          class='btn' disabled>
          <img src='/assets/images/baiao-dois-1.jpg' class="figure-img
            img-fluid rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;'class="figure-caption">Pratos
          Regionais</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style='margin-left: 5em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" id='desabilitado35'
          class='btn' disabled>
          <img src='/assets/images/pratoespecial.jpg' class="figure-img
            img-fluid rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Pratos
          especiais</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" id='desabilitado36'
          class='btn' disabled>
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid
            rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Porções</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style='margin-left: 5em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']"  id='desabilitado37' class='btn' disabled>
          <img src='/assets/images/porcoesespeciais.jpg' class="figure-img
            img-fluid rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Porções
          especiais</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" id='desabilitado38'
          class='btn' disabled>
          <img src='/assets/images/salada.png' class="figure-img img-fluid
            rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Saladas</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style='margin-left: 5em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']" id='desabilitado39' class='btn' disabled>
          <img src='/assets/images/saladaespecial.jpg' class="figure-img
            img-fluid rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Saladas
          especiais</figcaption>
      </figure>
    </div>
    <div class="col-sm-5">
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" id='desabilitado40'
          class='btn' disabled>
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid
            rounded" alt="..." width="500"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Bebidas</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- TABLET -->

<div class='table-responsive tablet'>
  <div class="row">
    <div class="col-5" style="margin-left: 3.9em;">
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" id='desabilitado9'
          class='btn' disabled>
          <img src='/assets/images/pratododia.jpg' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Prato do
          dia</figcaption>
      </figure>
    </div>
    <div class="col-5">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" id='desabilitado10'
          class='btn' disabled>
          <img src='/assets/images/baiao-dois-1.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;'class="figure-caption">Pratos
          Regionais</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-5" style='margin-left: 3.9em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" id='desabilitado11'
          class='btn' disabled>
          <img src='/assets/images/pratoespecial.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Pratos
          especiais</figcaption>
      </figure>
    </div>
    <div class="col-5">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" id='desabilitado12'
          class='btn' disabled>
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Porções</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-5" style='margin-left: 3.9em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']"  id='desabilitado13' class='btn' disabled>
          <img src='/assets/images/porcoesespeciais.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Porções
          especiais</figcaption>
      </figure>
    </div>
    <div class="col-5">
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" id='desabilitado14'
          class='btn' disabled>
          <img src='/assets/images/salada.png' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Saladas</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-5" style='margin-left: 3.9em;'>
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']" id='desabilitado15' class='btn' disabled>
          <img src='/assets/images/saladaespecial.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Saladas
          especiais</figcaption>
      </figure>
    </div>
    <div class="col-5">
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" id='desabilitado16'
          class='btn' disabled>
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 1em;' class="figure-caption">Bebidas</figcaption>
      </figure>
    </div>
  </div>
</div>


<!-- MOBILE -->

<div class='table-responsive mobile'>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-around; ">
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" id='desabilitado17'
          class='btn' >
          <img src='/assets/images/pratododia.jpg' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Prato do
          dia</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" id='desabilitado18'
          class='btn' >
          <img src='/assets/images/baiao-dois-1.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;'class="figure-caption">Pratos
          Regionais</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-around;">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" id='desabilitado19'
          class='btn' >
          <img src='/assets/images/pratoespecial.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Pratos
          especiais</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" id='desabilitado20'
          class='btn' >
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Porções</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-around;">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']"
          id='desabilitado21' class='btn' >
          <img src='/assets/images/porcoesespeciais.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Porções
          especiais</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" id='desabilitado22'
          class='btn' >
          <img src='/assets/images/salada.png' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Saladas</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-around;">
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']"
          id='desabilitado23' class='btn' >
          <img src='/assets/images/saladaespecial.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Saladas
          especiais</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" id='desabilitado24'
          class='btn' >
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Bebidas</figcaption>
      </figure>
    </div>
  </div>
</div>

<!-- MOBILE PEQUENO -->

<div class='table-responsive mobile-pequeno'>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-around; ">
      <figure class="figure">
        <button [routerLink]="['/produto','pratododia']" id='desabilitado25'
          class='btn' >
          <img src='/assets/images/pratododia.jpg' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Prato do
          dia</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','pratoregional']" id='desabilitado26'
          class='btn' >
          <img src='/assets/images/baiao-dois-1.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;'class="figure-caption">Pratos
          Regionais</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-around;">
      <figure class="figure">
        <button [routerLink]="['/produto','pratoespecial']" id='desabilitado27'
          class='btn' >
          <img src='/assets/images/pratoespecial.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Pratos
          especiais</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','porcoes']" id='desabilitado28'
          class='btn' >
          <img src='/assets/images/porcoes.jpg' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Porções</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-around;">
      <figure class="figure">
        <button [routerLink]="['/produto','porcoesespeciais']"
          id='desabilitado29' class='btn' >
          <img src='/assets/images/porcoesespeciais.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Porções
          especiais</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','salada']" id='desabilitado30'
          class='btn' >
          <img src='/assets/images/salada.png' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Saladas</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: space-around;">
      <figure class="figure">
        <button [routerLink]="['/produto','saladaespecial']"
          id='desabilitado31' class='btn' >
          <img src='/assets/images/saladaespecial.jpg' class="figure-img
            img-fluid rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Saladas
          especiais</figcaption>
      </figure>
      <figure class="figure">
        <button [routerLink]="['/produto','bebida']" id='desabilitado32'
          class='btn' >
          <img src='/assets/images/bebidas.jpg' class="figure-img img-fluid
            rounded" alt="..." width="150"
            height="140">
        </button>
        <figcaption style='margin-left: 0.9em;' class="figure-caption">Bebidas</figcaption>
      </figure>
    </div>
  </div>
</div>
