
<app-caminho-menu></app-caminho-menu>
<br>

<!--

  <div class="mobile" style='background-color: aquamarine; text-align-last:
  center;'>
  <span style='font-weight: bolder;'>Módulo: {{ modulo }} </span>
  </div>

-->
<!-- DESKTOP -->

<div class='table-responsive desktop'>

  <div class='form-group row container mt-5'>
    <label class='col-sm-2 col-form-label' style="width: 6em;">Filter By:</label>
    <input [(ngModel)]='filter' class='form-control' style="width: 15em;">
  </div>

  <table class="table table-bordered table-striped" style="margin-top: 1em;">
    <thead>
      <tr>
        <th style='width: 1%;'> Imagem</th>
        <th style='width: 11%'> Prato</th>
        <th style='width: 5%'> Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let produto of filteredProdutos'
        (click)="openPopup(produto.id! )">
        <td style='padding-right: 0px; display: flex; justify-content: center;
          align-items: center; '>
          <img [src]='produto.imagemUrl' class="figure-img img-fluid rounded"
            alt="..."
            width="70"
            height="70"
            style="margin: 0;">
        </td>
        <td style='width: 1%; font-size: 12px; cursor: pointer'>{{ produto.nome
          }}</td>
        <td style='width: 1%; font-size: 12px;'>R$ {{ produto.preco }} </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- LAPTOP -->

<div class='table-responsive laptop'>

  <div class='form-group row container mt-5'>
    <label class='col-sm-2 col-form-label' style="width: 6em;">Filter By:</label>
    <input [(ngModel)]='filter' class='form-control' style="width: 15em;">
  </div>

  <table class="table table-bordered table-striped" style="margin-top: 1em;">
    <thead>
      <tr>
        <th style='width: 2%;'> </th>
        <th style='width: 10%'> Nome</th>
        <th style='width: 5%'> Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let produto of filteredProdutos'
        (click)="openPopup(produto.id! )">
        <td style='padding-right: 0px; display: flex; justify-content: center;
          align-items: center; '>
          <img [src]='produto.imagemUrl' class="figure-img img-fluid rounded"
            alt="..."
            width="70"
            height="70"
            style="margin: 0;">
        </td>
        <td style='width: 1%; font-size: 12px; cursor: pointer'>{{ produto.nome
          }} </td>
        <td style='width: 1%; font-size: 12px;'>R$ {{ produto.preco }} </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- TABLET -->

<div class='table-responsive tablet'>

  <div class='form-group row container mt-5'>
    <label class='col-sm-2 col-form-label' style="width: 6em;">Filter By:</label>
    <input [(ngModel)]='filter' class='form-control' style="width: 15em;">
  </div>

  <table class="table table-bordered table-striped" style="margin-top: 1em;">
    <thead>
      <tr>
        <th style='width: 2%;'> Imagem</th>
        <th style='width: 10%'> Nome</th>
        <th style='width: 5%'> Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let produto of filteredProdutos'
        (click)="openPopup(produto.id!)">
        <td style='padding-right: 0px; display: flex; justify-content: center;
          align-items: center; '>
          <img [src]='produto.imagemUrl' class="figure-img img-fluid rounded"
            alt="..."
            width="70"
            height="70"
            style="margin: 0;">
        </td>
        <td style='width: 1%; font-size: 12px; cursor: pointer'>{{ produto.nome
          }} </td>
        <td style='width: 1%; font-size: 12px;'>R$ {{ produto.preco }} </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- MOBILE -->

<div class='table-responsive mobile'>

  <div class='form-group row container mt-5'>
    <label class='col-sm-2 col-form-label' style="width: 6em;">Filter By:</label>
    <input [(ngModel)]='filter' class='form-control' style="width: 15em;">
  </div>

  <table class="table table-bordered table-striped" style="margin-top: 1em;">
    <thead>
      <tr>
        <th style='width: 2%;'> Imagem</th>
        <th style='width: 10%'> Nome</th>
        <th style='width: 5%'> Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let produto of filteredProdutos'
        (click)="openPopup(produto.id! )">
        <td style='padding-right: 0px; display: flex; justify-content: center;
          align-items: center; '>
          <img [src]='produto.imagemUrl' class="figure-img img-fluid rounded"
            alt="..."
            width="70"
            height="70"
            style="margin: 0;">
        </td>
        <td style='width: 1%; font-size: 12px; cursor: pointer'>{{ produto.nome
          }} </td>
        <td style='width: 1%; font-size: 12px;'>R$ {{ produto.preco }} </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- MOBILE PEQUENO -->

<div class='table-responsive mobile-pequeno'>

  <div class='form-group row container mt-5'>
    <label class='col-sm-2 col-form-label' style="width: 6em;">Filter By:</label>
    <input [(ngModel)]='filter' class='form-control' style="width: 15em;">
  </div>

  <table class="table table-bordered table-striped" style="margin-top: 1em;">
    <thead>
      <tr>
        <th style='width: 2%;'> Imagem</th>
        <th style='width: 10%'> Nome</th>
        <th style='width: 5%'> Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let produto of filteredProdutos'
        (click)="openPopup(produto.id! )">
        <td style='padding-right: 0px; display: flex; justify-content: center;
          align-items: center; '>
          <img [src]='produto.imagemUrl' class="figure-img img-fluid rounded"
            alt="..."
            width="70"
            height="70"
            style="margin: 0;">
        </td>
        <td style='width: 1%; font-size: 12px; cursor: pointer'>{{ produto.nome
          }} </td>
        <td style='width: 1%; font-size: 12px;'>R$ {{ produto.preco }} </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Detalhes do produto/pedido -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style='background-color:rgb(246, 253, 232)'>
      <div class="modal-header" style='background-color:rgb(225, 240, 252)'>
        <button (click)="login ? carrinhoCreate( produto.id! ) : openPopup2(produto.id! )">
          <img src='/assets/images/carrinho.jpg' class="figure-img img-fluid
            rounded" alt="..." width="50"
            height="25">
        </button>
        <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Fechar
        </button> 

      </div>
      <div class="modal-body row">
        Avaliação: <app-star [rating]="produto.avaliacao"></app-star>
      </div>
      <div class="modal-body row">
        <img [src]='produto.imagemUrl' class="figure-img img-fluid rounded"
          alt="..."
          width="400"
          height="400">
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Nome:</span>
        <span>{{ produto.nome }}</span>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Descrição:</span>
        <span> {{ produto.descricao }} </span>
      </div>
      <div class="modal-body">
        <div class="row">
          <span class="col-4" style='font-weight: bolder; color:blue'>Preço
            Unitário:</span>
          <span class="col-8" style='font-weight: bolder; color:blue'>Preço
            Total:</span>
        </div>
        <div class="row">
          <span class="col-4"> {{ produto.preco }} </span>
          <span class="col-8">{{ produto.preco * carrinho.quantidade }}</span>
        </div>
      </div>

      <div class="modal-body row">
        <span style='font-weight: bolder; color:blue'>Quantidade:</span>
        <a style="width: 2em; margin-top: 0.5em" (click)="minus()"><i
            class="fa
            fa-minus" style="color:red"></i></a>
        <input style="width: 3em;" [(ngModel)]='carrinho.quantidade'
          class='form-control'>
        <a style="width: 2em; margin-top: 0.5em" (click)="plus()"><i
            class="fa
            fa-plus" style="color:red"></i></a>
      </div>
      <div class="modal-body row">
        <div class='form-group row container'>
          <span style='font-weight: bolder; color:blue'>Observações:</span>
          <div>
            <textarea [(ngModel)]='carrinho.observacao'
              class='form-control'></textarea>
          </div>
        </div>
      </div>
      <div class="modal-body row">
        <span style='font-weight: bolder;'>Tempo de Preparação:</span>
        <span>{{ produto.tempoPreparacao }} </span>
      </div>

      <div class="modal-body row">
        <span style='font-weight: bolder;'>Os ingredientes encontrados
          na
          refeição são:</span>
        <div>
          <ul>
            <li>alho</li>
            <li>cebola</li>
            <li>coentro</li>
            <li>maionese</li>
            <li>manjericão</li>
          </ul>
        </div>
      </div>
      <div class="modal-content" style='background-color:rgb(225, 240,
        252)'>
        <div class="modal-header" style='background-color:rgb(225, 240, 252)'>
          <button (click)="login ? carrinhoCreate( produto.id! ) :
            openPopup2(produto.id! )">
            <img src='/assets/images/carrinho.jpg' class="figure-img img-fluid
              rounded" alt="..." width="50"
              height="25">
          </button>
          <button type="button" class="btn btn-danger"
            (click)="closePopup()">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- login -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyle2}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style='background-color:rgb(246, 253, 232)'>
      <div class="modal-header" style='background-color:rgb(225, 240, 252)'>
        <button type="button" class="btn btn-danger"
          (click)="closePopup2();">
          Fechar
        </button>

      </div>
      <div class="modal-body row">
        <div class='row col-sm-12 mb-1'>
          <div class='col-sm-12'>
            <app-phone-number></app-phone-number>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
